@import "../helper/Variable.scss";
@import "../helper/Mixins";
//////////////////////////////////////////
.bg-white-50{
  background-color: var(--white-50);
}
.bg-white-100{
  background-color: var(--white-100);
}
.bg-white-200{
  background-color: var(--white-200);
}
.bg-gold-50{
  background-color: var(--gold-50);
}
.bg-gold-400{
  background-color: var(--gold-400);
}
.bg-gray-650{
  background-color: var(--gray-650);
}
.bg-gray-600{
  background-color: var(--gray-600);
}
.bg-gray-700{
  background-color: var(--gray-700);
}


