@import "../helper/Mixins";
////////////////////////////////////////////////
.fixed{
  position: fixed!important;
}
.relative{
  position: relative!important;
}
.absolute{
  position: absolute!important;
}
@include query(xlg){
  .fixed-xlg{
    position: fixed!important;
  }
  .relative-xlg{
    position: relative!important;
  }
  .absolute-xlg{
    position: absolute!important;
  }
}
@include query(lg){
  .fixed-lg{
    position: fixed!important;
  }
  .relative-lg{
    position: relative!important;
  }
  .absolute-lg{
    position: absolute!important;
  }
}
@include query(md){
  .fixed-md{
    position: fixed!important;
  }
  .relative-md{
    position: relative!important;
  }
  .absolute-md{
    position: absolute!important;
  }
}
@include query(sm){
  .fixed-sm{
    position: fixed!important;
  }
  .relative-sm{
    position: relative!important;
  }
  .absolute-sm{
    position: absolute!important;
  }
}

.top-0{
  top: 0!important;
}
.left-0{
  left: 0!important;
}
.top-50{
  top: 50%!important;
}
.left-50{
  left: 50%!important;
}
.top-100{
  top: 100%!important;
}
.left-100{
  left: 100%!important;
}
.bottom-0{
  bottom: 0!important;
}
.bottom-50{
  bottom: 50%!important;
}
.right-0{
  right: 0!important;
}
