@import "../helper/Variable.scss";
@import "../helper/Mixins";
//////////////////////////////////////////
.text-blue{
  color: var(--blue);
}
.text-white-50{
  color: var(--white-50);
}
.text-white-100{
  color: var(--white-100);
}
.text-white-200{
  color: var(--white-200);
}
.text-gold-50{
  color: var(--gold-50);
}
.text-gold-400{
  color: var(--gold-400);
}
.text-gray-650{
  color: var(--gray-650);
}
.text-gray-600{
  color: var(--gray-600);
}
.text-gray-700{
  color: var(--gray-700);
}

$f:0;$c:0;

@while($c<20){
  .font-#{$c}{
    font-size: $f+rem;
  }
  $c:$c+1;
  $f:$f+0.25
}
$w:0;

@while($w<1000){
  .fw-#{$w}{
    font-weight: $w;
  }
  $w:$w+100
}


