@import "../helper/Variable";

#right-sidebar{
  @extend .p-5;


  .profile-wrapper{
    width: 85px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px var(--gold-400) solid;
    display: flex;
    img{
      object-fit: cover;
    }
  }
  .user-detail{
    line-height: 1.2;
  }

  .charge-diagram{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: 2rem !important;
    margin: auto;
    position: relative;
    background-image: -webkit-linear-gradient(90deg, #e4ebec 50%, transparent 50%), -webkit-linear-gradient(right, var(--gold-400) 50%, #e4ebec 50%);
    .overlay{
      border-radius: 100%;
      position: relative;
      top: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      height: 85%;
      background-color: var(--gold-50);
      margin: auto;
    }
  }


}