$white50:#fff;
$white100:#f6f6f6;
$white200:#e7e7e7;
$gold50:#fffcef;
$gold400:#fdc816;
$gray650:#818181;
$gray600:#707070;
$gray700:#626161;
:root{
  --white-50:#{$white50};
  --white-100:#{$white100};
  --white-200:#{$white200};
  --gold-50:#{$gold50};
  --gold-400:#{$gold400};
  --gray-650:#{$gray650};
  --gray-600:#{$gray600};
  --gray-700:#{$gray700};
}